<body>

<form autocomplete="off" [formGroup]="forma" (ngSubmit)="save()">
<H3>EDICION DE PROFESIONAL</H3>


<div class="type">

<div class="input-group mb-3" id="box">
    <input 
        formControlName="first_name"
        type="text" class="form-control" 
        placeholder="{{profesionals.first_name}}" 
        aria-label="Username" 
        aria-describedby="basic-addon1" >
  </div>

  <div class="input-group mb-3" id="box">
    <input 
        formControlName="second_name"
        type="text" class="form-control" 
        placeholder="Segundo Nombre" 
        aria-label="Username" aria-describedby="basic-addon1" >
  </div>

  <div class="input-group mb-3" id="box">
    <input 
        formControlName="first_lastname"
        type="text" 
        class="form-control" 
        placeholder="Primer Apellido" 
        aria-label="Username" 
        aria-describedby="basic-addon1" >
  </div>



  <div class="input-group mb-3" id="box">
    <input 
        formControlName="second_lastname"
        type="text" 
        class="form-control" 
        placeholder="Segundo Apellido" 
        aria-label="Username" 
        aria-describedby="basic-addon1" >
  </div>


  <div class="input-group mb-3" id="box">
    <input 
        formControlName="document_number"
        type="text" 
        class="form-control" 
        placeholder="Cedula" 
        aria-label="Username" 
        aria-describedby="basic-addon1" >
  </div>

  <div class="input-group mb-3" id="box">
    <input 
        formControlName="career"
        type="text" 
        class="form-control" 
        placeholder="Profesion" 
        aria-label="Username" 
        aria-describedby="basic-addon1" >
  </div>


  <div class="input-group mb-3" id="box">
    <input 
        formControlName="celphone"
        type="text" 
        class="form-control" 
        placeholder="No. Celular" 
        aria-label="Username" 
        aria-describedby="basic-addon1" >
  </div>

  <div class="input-group mb-3" id="box">
    <input 
        formControlName="telephone"
        type="text" 
        class="form-control" 
        placeholder="No. Fijo" 
        aria-label="Username" 
        aria-describedby="basic-addon1" >
  </div>



  <div >
    <small>Municipio</small>

    <select formControlName="municipality" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="box"  >
        <option [value]="item.municipality" *ngFor="let item of profesionals"  >{{item.municipality}}</option>
      </select>
    </div>



  <div >
    <small>Genero</small>

    <select formControlName="gender" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="box"  >
        <option [value]="item.gender" *ngFor="let item of profesionals"  >{{item.gender}}</option>
      </select>
    </div>


  <div class="form row mt-3" formGroupName="vehicle" class="items">


    <div >
    <small>Vehiculo</small>

    <select formControlName="name" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="box"  >
        <option [value]="item.vehicle.name" *ngFor="let item of profesionals"  >{{item.vehicle.name}}</option>
      </select>
    </div>


    <div >
        <small>Marca</small>
      <select formControlName="brand" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="box" >
        <option [value]="item.vehicle.brand" *ngFor="let item of profesionals">{{item.vehicle.brand}}</option>
      </select>

    </div>
  </div>



 


</div>


 <label for="start">Fecha de nacimiento</label >

<input formControlName="birth"
type="date" id="start" name="trip-start"
       value="2018-07-22"
       min="1900-01-01" max="2018-12-31"
       >





       <div class="form-group row mt-3">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="col">
          <button type="submit" class="btn btn-outline-primary btn-block" style="width: 100%;" >
            Guardar
          </button>
        </div>
      </div>


    </form>
</body>


